deps/**/*.md
deps/**/.git

deps/leveldb/leveldb-rocksdb/arcanist_util/
deps/leveldb/leveldb-rocksdb/build_tools/
deps/leveldb/leveldb-rocksdb/coverage/
deps/leveldb/leveldb-rocksdb/docs/
deps/leveldb/leveldb-rocksdb/examples/
deps/leveldb/leveldb-rocksdb/hdfs/setup.sh
deps/leveldb/leveldb-rocksdb/java/
deps/leveldb/leveldb-rocksdb/third-party/gtest-*/
deps/leveldb/leveldb-rocksdb/tools/*.sh
deps/leveldb/leveldb-rocksdb/tools/*.py
deps/leveldb/leveldb-rocksdb/tools/*.dmp
deps/leveldb/leveldb-rocksdb/tools/rdb/
deps/leveldb/leveldb-rocksdb/README.md
deps/leveldb/leveldb-rocksdb/HISTORY.md

deps/snappy/snappy*/testdata/
deps/snappy/snappy*/*.txt
deps/snappy/snappy*/README.md

README
INSTALL
NEWS
AUTHORS
TODO

# Build artifacts
deps/*/Release/
deps/*/Debug/
*.tar.gz
*.tgz
build/
build-pre-gyp/
libleveldb.so
libleveldb.a
*.sln
*.vcxproj
*.vcxproj.filters

# Benchmarks and tests
bench/
test/
*.csv

# Misc
.nyc_output/
yarn.lock
.gitmodules
.travis.yml
appveyor.yml
.appveyor.yml
Dockerfile
.dockerignore
Vagrantfile
.arcconfig
.clang-format

# Unknown
leakydb
test-data.tar
test-data.db.tar
