README
INSTALL
NEWS
AUTHORS
TODO

deps/

# Build artifacts
*.tar.gz
*.tgz
build/
build-pre-gyp/
libleveldb.so
libleveldb.a
*.sln
*.vcxproj
*.vcxproj.filters
.vscode

# Benchmarks and tests
bench/
test/
.benchmarks/
*.csv

# Misc
.nyc_output/
.github/
yarn.lock
.gitmodules
.travis.yml
appveyor.yml
.appveyor.yml
Dockerfile
.dockerignore
Vagrantfile
.arcconfig
.clang-format
.watchmanconfig
patches/

# Unknown
leakydb
test-data.tar
test-data.db.tar
