*.tar.gz
build/
build-pre-gyp/
test-data.tar
test-data.db.tar
deps/leveldb/leveldb-basho/
deps/leveldb/leveldb-hyper/
deps/snappy/*/testdata/
leakydb
bench/
test/
deps/leveldb/*/docs
deps/leveldb/*/java
README
INSTALL
NEWS
AUTHORS
Dockerfile
.dockerignore
.nyc_output/
